.main {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card {
  border: solid black 2px;
  width: max-content;
  height: 100px;
  padding: 10px;
}

.card title {
  width: max-content;
  height: 100px;
}

.oper {
  display: none;
  position: fixed;
  /* display: flex; */
  left: 20%;
  width: fit-content;
  height: fit-content;
  background-color: blueviolet;
  z-index: 1000;
  align-items: center;
  border-radius: 20px;
  padding: 10px 30px;
  justify-content: space-between;
}

button {
  background-color: rgb(255, 166, 0);
  padding: 4px 9px;
  border: 0;
  border-radius: 5px;
}

input {
  background-color: rgb(225, 197, 251);
  padding: 5px;
  border-radius: 5px;
  border: 0;
}

select {
  background-color: rgb(225, 197, 251);
  padding: 5px;
  border-radius: 5px;
  border: 0;
}

.item {
  background-color: rgb(157, 82, 227);
  padding: 20px;
  border-radius: 20px;
  margin-right: 20px;
}

form {
  margin-left: 10px;
}
